/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #f8f9fa;
    background-image: url(https://images.pexels.com/photos/301614/pexels-photo-301614.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 100vw 100vh;
}

/* Header Styling */
header {
    background-color: #000000;
    color: #ffffff;
    padding: 50px;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
    font-size: 30px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    font-size: 20px
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #2f2d2d; /* Change color on hover */
}

/* Main Section Styling */
main {
    padding: 20px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

section{
    margin-bottom: 5px;
}

h2 {
    border-bottom: 2px solid #ccc;
    text-align: center;
}


/* Sprite Image Setup */
.icon-container {
    display: flex;
    gap: 20px;
}

.icon {
    width: 50px;
    height: 50px;
    background-image: url('sprite.image'); /* Path to your sprite image */
    background-repeat: no-repeat;
}

.icon-facebook {
    background-position: 0 0; /* Top-left of sprite */
}

.icon-twitter {
    background-position: -50px 0; /* Shift to the right */
}

.icon-instagram {
    background-position: -100px 0; /* Shift further right */
}

/* Pseudo-class: Highlight sections on hover */
section:hover {
    background-color:#000000;
    transition: background-color 0.3s ease-in-out;
}